@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.main {
  min-height: 100vh;
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
nav {
  background-color: crimson;
  color: white;
  height: 100%;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
nav ul {
  list-style: none;
}
.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.gameInfo {
  display: flex;
  align-items: center;
  padding: 0 45px;
  text-align: center;
}
.info {
  font-size: 8vh;
  color: #ff1178;
  text-shadow: #ff0000 2px 0 90px;
}
.btn {
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
  padding-top: 3vh;
}
.gameInfo button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 0.8em;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.3rem;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
}
.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(238, 64, 99);
}

.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
.trophy,
.winner {
  width: 0;
}
.footer-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.footer-text {
  font-size: 2vh;
  color: white;
  background-color: #183153;
  padding: 10px;
  border-radius: 10px;
}
.footer-text a {
  color: white;
}
.footer-text a:hover {
  color: #ffd401;
}

@media screen and (max-width: 900px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .container {
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 30vw);
  }
  .info {
    font-size: 5vh;
  }
}
.winning-box {
  background-color: rgb(238, 64, 99);
  color: #fff;
}
